<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class = "container">

    <div th:replace="fragments :: leftColumn"></div>

    <div class = "rightcol">

        <div th:replace = "fragments :: vivDiv"></div>

        <div class="rightbox">
            <h3>Create Your Account</h3>
            <form method = 'post'>

                <div><label>Username:
                    <input type = 'text' th:field = "${user.username}" th:value="${user.username}">
                </label></div>
                <p class="error" th:errors="${user.username}"></p>

                <div><label>Email:
                    <input type = 'text' th:field = "${user.email}" th:value="${user.email}">
                </label></div>
                <p class="error" th:errors="${user.email}"></p>

                <div><label>Password:
                    <input type = 'password' th:field = "${user.password}">
                </label></div>
                <p class="error" th:errors="${user.password}"></p>

                <div><label>Verify Password:
                    <input type = 'password' name = 'verify'>
                </label></div>
                <p th:text="${matchError}" class="error"></p>

                <div>
                    <input type = 'submit' value = 'Sign Up'>
                </div>

            </form>
        </div>

    </div>

</div>

</body>
</html>