<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class = "container">

    <div th:replace="fragments :: leftColumn"></div>

    <div class = "rightcol">

        <div th:replace = "fragments :: vivDiv"></div>

        <div class="rightbox">
            <h3 th:text = "'Welcome, ' + ${user.username} + '!'"></h3>
            <p>As a member of the Viv Day Spa, you now have access to the most luxurious of services, all of which can be customized for your skin type and preferred regimen.</p>
            <p><a th:href="@{/}">Create Your Customized Service Profile</a></p>
        </div>

        <div class="rightbox">
            <h3>All Users</h3>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tr th:each="user : ${users}">
                    <td th:text = "${user.id}"><</td>
                    <td><a th:href="@{/user/details(${user})}" th:text="${user.username}"></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>