<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div class = "container">

<div th:replace="fragments :: leftColumn"></div>

<div class = "rightcol">

    <div th:replace = "fragments :: vivDiv"></div>

    <div class = "rightbox" id = "clientProfile">
        <h2 class = "header">My Profile</h2>
        <p><u>NAME</u>: <span th:text = "${name}"></span></p>
        <p><u>SKIN TYPE</u>: <span th:text = "${skintype}"></span></p>
        <p><u>MANI/PEDI</u>: <span th:text = "${manipedi}"></span></p>
    </div>

    <div class = "rightbox" id = "servicesMenu">
        <h2 class = "header">Menu of Available Services</h2>
        <div>
            <h3 class = "subheader">Facial Treatments</h3>
            <p th:replace = "fragments :: facialIntro"></p>
        </div>
        <table>
            <th:block th:each = "facial : ${client.appropriateFacials}">
                <tr>
                    <td th:text = "${facial}"></td>
                </tr>
            </th:block>
        </table>
        <div th:if = "${manipedi.equals('manicure') || manipedi.equals('both')}">
            <h3 class = "subheader">Manicure</h3>
            <p th:replace = "fragments :: manicureDescription"></p>
        </div>
        <div th:if = "${manipedi.equals('pedicure') || manipedi.equals('both')}">
            <h3 class = "subheader">Pedicure</h3>
            <p th:replace = "fragments :: pedicureDescription"></p>
        </div>

    </div>
    <footer>
        <div class = "polishintro">Ask about our hottest new colors for your mani/pedi</div>
        <div class = "polish" th:each = "option : ${polishChoices}" th:style = "'background: ' + ${option}"></div>
    </footer>

</div>

</div>


</body>
</html>